<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Splurty</title>
  </head>
  <body>

    <br>
    <h3>
      <span>Splurty No. <%= @quote.id %></span>
    </h3>
    <h1>"<%= @quote.saying %>"</h1>
    <h3 class="float-right">-<%= @quote.author %></h3>
    <br/>
    <br/>
    <br/>
    <br/>
  </body>
</html>
