<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Splurty</title>
  </head>
  <body>
    <em><h1>Welcome to my Awesome Web App</h1></em>
    <br>
    <h1><%= @quote.saying %></h1>
    <h3>-<%= @quote.author %></h3>
  </body>
</html>
